@import "styles/variables";

.input-custom {

    .input-text {
        background-color: $very-light-graysh-cyan;
        border: transparent;
        width: 100%;
        border-radius: 5px;
        text-align: center;
        padding: 5px 5px;
        font-size: 24px;
        color: $very-dark-cyan;
        min-height: 44px;

        @media screen and (max-width: 800px){
            font-size: 20px;
        }
    
        &::placeholder {
            color: $graysh-cyan;
        }
    }
}



