@import 'styles/variables';

.result-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    .description {
        min-width: max-content;
            h4 {
                font-size: 16px;
                line-height: 1.6;
                color: $white
            }
        
            p {
                font-size: 12px;
                line-height: 1.2;
                color: $graysh-cyan;
            }
    }

    .total {
        font-size: 34px;
        color: $strong-cyan;
    }
}